    body {
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background-image: url(fun.png);
        background-size: 42%;
        background-repeat: no-repeat;
        background-position-x: 50%;
    }


    #containerCards {
        margin-top: 4%;
    }

    .liClass {
        font-family:Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }


    select {
        color: black;
        text-align: center;
        width: 95%;
    }


    .toggle-btn {
        width: 0px;
        height: 0px;
        left: 80%; 
        position: absolute;
        top: 0;
        padding: 0px;
        color: transparent;
    }

    .chatGroup {
        width: 70px;
        height: 70px;
        background-size: cover;
        position: absolute;
        margin: 8px;
        top: 0;
        background-image: url(chat.png);
        border: none;
        margin-left: 30px;
        cursor: pointer;
    }

    .iconChatGroup {
        margin-left: 85%;
    }

    .panel {
        font-size: medium;
        line-height: 14px;
        text-align: center;
        color: black;
        margin: 0;
        width: 150px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .ulClass{
        margin-left: 18%;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        column-gap: 5%;
        row-gap: 60px;
        justify-content: center;
        padding: 1%;
    } 

    .img {

        width: 100%;
        height: 14em;
        border: black solid;
        border-radius: 20% 0;
    }

    .front dd {
        margin-inline-start: auto;
    }

    .back dt{
        font-size: small;
    }

    .card {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18em;
        height: 25em;
        text-align: center;
    }

    .card section{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backface-visibility: hidden;
        transition: 1s;
    }

    .card .front {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        transform: perspective(500px) rotateY(0deg);
        border: black solid;
        border-radius: 30px;
        padding: 15px;
        font-size: medium;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .card .back {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
        transform: perspective(500px) rotateY(180deg);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: justify;
        padding: 15px;
        border: black solid;
        border-radius: 30px;
        font-size: small;
        text-align: justify;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .card:hover .front {
        transform: perspective(500px) rotateY(180deg);
    }

    .card:hover .back {
        transform: perspective(500px) rotateY(360deg);
    }


    .card .front dl {
        display: block;
        margin: inherit;
        width: 100%;
        height: 100%;
    
    } 
    .footer {
        position: relative;
        margin-left: 53%;
        margin-bottom: 0%;
        text-align: center;
        width: 80px;
        height: 0px;
    }

    /* Mediaquery Mobile */
    @media ( max-width: 480px) {
        

        #sideBar {
           top: 0;
            position: fixed;
            width: 13%;
            height: 100%;
            background-color: #6a9eda;
            
            left: 0px;
            align-items: center;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border: 1px solid #d0d0d0;
        }
        select {
            color: black;
            text-align: center;
            width: 95%;
        }
        #sideBar .toggle-btn {
            left: 36%;
            top: 0px;
            cursor: pointer;
        }
        #sideBar.active{
            left: -36%;
        }
        .toggle-btn {
            display: block;
            width: 50px;
            text-align: center;
            font-size: 30px;
            color: black;
            position:fixed;
            cursor: pointer;
            z-index: 100;
        }
        
        #root {
            /* width: calc(100% - 180px); */
            margin: auto;
            padding-top: 4em ; 
            display: flex;
        }
        .totalChannels ul{
        
            list-style: none;
            text-align: initial;
            padding-left: 10px;
        }
    }
    
    /* Mediaquery Tablets*/
    @media  ( min-width: 481px) and (max-width:1024px) {

        .header {
            background-size: 50%;
        }
        
        #sideBar {
            position: fixed;
            width: 18%;
            height: 100%;
            left: 0px;
            top: 0;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
            border: 1px solid #d0d0d0;
        }
        select {
            color: black;
            text-align: center;
            width: 95%;
        }
        #sideBar .toggle-btn {
            left: 18%;
            top: 0px;
            cursor: pointer;
            z-index: 100;
        }
        #sideBar.active{
            left: -18%;
        }
        .toggle-btn {
            text-align: center;
            font-size: 20px;
            color: black;
            cursor: pointer;
            z-index: 100;
            left: 1%;
        }

        .spam {
            position: fixed;
        }
        
        #root {
            width: calc(100% - 180px);
            margin: auto;
            padding-top: 4em ; 
            display: flex;
            justify-content: center;
        }
        .totalChannels ul{
        
            list-style: none;
            text-align: initial;
            padding-left: 10px;
        }

        .ulClass {
            margin-left: 0%;
            column-gap: 3%;
    }

    .footer {
        margin-left: 45%;
    }

    .chatGroup {
        background-size: 80%;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 10%;
        height: 100%;
    }

    .panel {
        font-size: x-small;
    }
    }

    /* Mediaquery Desktop*/
    @media (min-width: 1025px) {

        
        #sideBar {
            top: 0;
            position: fixed;
            width: 13%;
            height: 100%;
            left: 0px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border: 1px solid #d0d0d0;
        }
        select {
            color: black;
            text-align: center;
            width: 95%;
        }

        #root {
            width: calc(100% - 180px);
            margin: auto;
            padding-top: 4em ;
            display: flex;
            justify-content: center;
        }
        .totalChannels ul{
        
            list-style: none;
            text-align: initial;
            padding-left: 10px;
        }
    }
