
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
 .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    padding: 10px;
    background-image: url(fun.png);
    background-size: 43%;
    background-repeat: no-repeat;
    align-items: center;
    background-position-x: 40%;
    border-bottom: 3px solid black;
}

i {
    text-align: center;
    width: 15%;
    height: 15%;
    position: fixed;
    margin-top: 0.5%;
    z-index: 100;
    left: 80%;
    top: 0;
    background-image: url(263115.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    border:none ;
    text-decoration: none;
    outline: none;
}
.main{
    position: fixed;
    left: 10px;
    right: 0;
    top: 7%;
}
#chat {
    margin-top: 8%;
    text-align: left;
    justify-content: left;
    margin-left: 10%;
    width: 100%;
    font-family: cursive;
    height: 380px;
}

#questions {
    margin-left: 10%;
}
#button {
    justify-content: right;
    margin-left: 60%;
    font-size: large;
    padding: 20px;
    width: 15%;
}

#text {
    text-align: left;
    width: 40%;
    height: 10%;
    border-radius: 30px;
    font-size: x-large;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin-left: 48%;
}