body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
 .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    padding: 10px;
    background-image: url(fun.png);
    background-size: 43%;
    background-repeat: no-repeat;
    align-items: center;
    background-position-x: 40%;
    border-bottom: 3px solid black;
}

i {
    width: 90px;
    height: 90px;
    background-size: cover;
    position: absolute;
    left: 89%;
    margin: 0;
    top: 0;
    background-image: url(263115.png);
}

.main{
    position: fixed;
    left: 10px;
    right: 0;
    top: 7%;
}
#singleSection{
    display: flex; 
    margin-top: 13%;
    margin-left: 10%;
    margin-bottom: 3%;
    width: 80%;  
    height: 430px;
}

li{
    list-style-type: none;
}
.img {
    
    width: 100%;
    height: 14em;
    border: black solid;
    border-radius: 20% 0;
}

.front dd {
    margin-inline-start: auto;
}



.card {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19em;
    height: 27em;
    text-align: center;
}

.card section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front {
    width: 85%;
    height: 100%;
    background:  rgba(254	209	229) ;
    transform: perspective(500px) rotateY(0deg);
    border: black solid;
    border-radius: 30px;
    padding: 15px;
    font-size: medium;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}



.card:hover .front {
    transform: perspective(500px) rotateY(-15deg);
}




.card .front dl {
    display: block;
    margin: inherit;
    width: 100%;
    height: 100%;
   
} 

.p {
    border-radius: 10%;
    background-color: white;
    border: solid black 1px;
}
.singleChat {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    display: flex;
    overflow: scroll;
    width: 61%;
    margin: 0 65px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    padding: 12px;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#inputText {
    display: flex;
    
}

#questions {
    width: 34%;
    text-align: justify;
    margin-left: 38%;
}
#button {
    justify-content: right;
    font-size: large;
    width: 8%;
    margin: 15px 0 0 58px;
}

#text {
    text-align: left;
    border-radius: 30px;
    width: 100%;
    height: 25px;
    font-size: large;
    margin: 10px 0;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin-left: 48%;
}

.messageIa {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px 25px 25px 0;
    background-color: #E3E4CB;
    border: solid black 1px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    align-self: start;
}
.messageUser {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px 25px 0 25px;
    background-color: white;
    border: solid black 1px;
    margin: 5px;
    padding: 10px;
    align-self: end;
    text-align: end;
}

p {
    margin:2px;
}
