.ulClass {
    display: flex;
    width: 100%;
    margin-left: 12%;
    justify-content: space-between; 
    align-items: center;  
}
.liClass {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: justify;
    position: fixed;
    z-index: 100;
}

footer {
    position: absolute;
    
    right: 0;
    bottom: 0;
    margin: 10px 0 10px;
}

select {
    color: black;
    text-align: center;
    width: 95%;
}


/* Mediaquery Mobile */
@media ( max-width: 480px) {

    body {
        min-height: 100%;
        position: relative;
        display: flex;
    }
    header {
        text-align: justify;
        position: fixed;
    }
    h1 {
        background-color: #d3bcf6;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 2em;
        margin-top: 0px;
        z-index: 100;
        left: 0;
        top: 0;
        background-color: white;
        background-image: url("Cartoon.png");
        background-size: 85%;
        background-position:right;
        background-repeat:no-repeat;
        padding: 0.5% 0;

    }
    
     .ulClass{
        margin-left: 0%;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        column-gap: 7%;
        row-gap: 50px;
        justify-content: center;
        padding: 1%;
    } 
    
    .img {
    
        width: 100%;
        height: 14em;
        border: black solid;
        border-radius: 20% 0;
    }

    .front dd {
        margin-inline-start: auto;
    }

    .back dt{
        font-size: small;
    }
    
    .card {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18em;
        height: 25em;
        text-align: center;
    }
    
    .card section{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backface-visibility: hidden;
        transition: 1s;
    }
    
    .card .front {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        transform: perspective(500px) rotateY(0deg);
        border: black solid;
        border-radius: 30px;
        padding: 15px;
        font-size: medium;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .card .back {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
        transform: perspective(500px) rotateY(180deg);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: justify;
        padding: 15px;
        border: black solid;
        border-radius: 30px;
        font-size: small;
        text-align: justify;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
    
    .card:hover .front {
        transform: perspective(500px) rotateY(180deg);
    }
    
    .card:hover .back {
        transform: perspective(500px) rotateY(360deg);
    }
    
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px 0 10px;
       
    }
    
    .card .front dl {
        display: block;
        margin: inherit;
        width: 100%;
        height: 100%;
       
    } 
    
    #sideBar {
        position: fixed;
        width: 36%;
        height: 100%;
        background-color: #6a9eda;
        color:#ffffff;
        left: 0px;
        margin-top: 3.5em;
        align-items: center;
        text-align: center;
        z-index: 100;
    }
    select {
        color: black;
        text-align: center;
        width: 95%;
    }
    #sideBar .toggle-btn {
        left: 36%;
        top: 0px;
        cursor: pointer;
    }
    #sideBar.active{
        left: -36%;
    }
    .toggle-btn {
        display: block;
        width: 50px;
        text-align: center;
        font-size: 30px;
        color: black;
        position:fixed;
        cursor: pointer;
        z-index: 100;
    }
    
    #root {
        /* width: calc(100% - 180px); */
        margin: auto;
        padding-top: 4em ; 
        display: flex;
        margin-bottom: 15%;
    }
    .totalChannels ul{
    
        list-style: none;
        text-align: initial;
        padding-left: 10px;
    }
}
  
/* Mediaquery Tablets*/
 @media ( min-width: 481px) and (max-width:1024px) {

    body {
        min-height: 100%;
        position: relative;
        display: flex;
    }
    header {
        text-align: justify;
        position: fixed;
    }
    h1 {
        background-color: #d3bcf6;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 2em;
        margin-top: 0px;
        z-index: 100;
        left: 0;
        top: 0;
        background-color: white;
        background-image: url("Cartoon.png");
        background-size: 48%;
        background-position:center;
        background-repeat:no-repeat;
        padding: 0.5% 0;

    }
    
     .ulClass {
        display: flex;
        margin: 4% auto;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        column-gap: 7%;
        row-gap: 50px;
        justify-content: center;
        padding: 1%;
         
    } 
    
    .img {
    
        width: 100%;
        height: 14em;
        border: black solid;
        border-radius: 20% 0;
    }

    .front dd {
        margin-inline-start: auto;
    }

    .back dt{
        font-size: small;
    }
    
    .card {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18em;
        height: 25em;
        text-align: center;
    }
    
    .card section{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backface-visibility: hidden;
        transition: 1s;
    }
    
    .card .front {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        transform: perspective(500px) rotateY(0deg);
        border: black solid;
        border-radius: 30px;
        padding: 15px;
        font-size: medium;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .card .back {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
        transform: perspective(500px) rotateY(180deg);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: justify;
        padding: 15px;
        border: black solid;
        border-radius: 30px;
        font-size: small;
        text-align: justify;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
    
    .card:hover .front {
        transform: perspective(500px) rotateY(180deg);
    }
    
    .card:hover .back {
        transform: perspective(500px) rotateY(360deg);
    }
    
    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 10px 0 10px;
    }
    
    .card .front dl {
        display: block;
        margin: inherit;
        width: 100%;
        height: 100%;
       
    } 
    
    #sideBar {
        position: fixed;
        width: 18%;
        height: 100%;
        background-color: #6a9eda;
        color:#ffffff;
        left: 0px;
        margin-top: 3.5em;
        align-items: center;
        text-align: center;
        z-index: 100;
    }
    select {
        color: black;
        text-align: center;
        width: 95%;
    }
    #sideBar .toggle-btn {
        left: 18%;
        top: 0px;
        cursor: pointer;
    }
    #sideBar.active{
        left: -18%;
    }
    .toggle-btn {
        display: block;
        width: 50px;
        text-align: center;
        font-size: 40px;
        color: black;
        position:fixed;
        cursor: pointer;
        z-index: 100;
    }
    
    #root {
        width: calc(100% - 180px);
        margin: auto;
        padding-top: 4em ; 
        display: flex;
        margin-bottom: 15%;
    }
    .totalChannels ul{
    
        list-style: none;
        text-align: initial;
        padding-left: 10px;
    }
}


/* Mediaquery Desktop*/
@media (min-width: 1025px) {

    body {
        min-height: 100%;
        position: relative;
        display: flex;
    }
    header {
        text-align: justify;
        position: fixed;
    }
    h1 {
        background-color: #d3bcf6;
        text-align: center;
        position: fixed;
        width: 100%;
        height: 2em;
        margin-top: 0px;
        z-index: 100;
        left: 0;
        top: 0;
        background-color: white;
        background-image: url("Cartoon.png");
        background-size: 35%;
        background-position:center;
        background-repeat:no-repeat;
        padding: 0.5% 0;
    }
    
     .ulClass {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        column-gap: 4%;
        row-gap: 50px;
        justify-content: center;
        padding: 1%;
         
    } 
    
    .img {
    
        width: 100%;
        height: 14em;
        border: black solid;
        border-radius: 20% 0;
    }

    .front dd {
        margin-inline-start: auto;
    }

    .back dt{
        font-size: small;
    }
    
    .card {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18em;
        height: 25em;
        text-align: center;
    }
    
    .card section{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backface-visibility: hidden;
        transition: 1s;
    }
    
    .card .front {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        transform: perspective(500px) rotateY(0deg);
        border: black solid;
        border-radius: 30px;
        padding: 15px;
        font-size: medium;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .card .back {
        width: 85%;
        height: 100%;
        background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
        transform: perspective(500px) rotateY(180deg);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: justify;
        padding: 15px;
        border: black solid;
        border-radius: 30px;
        font-size: small;
        text-align: justify;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
    
    .card:hover .front {
        transform: perspective(500px) rotateY(180deg);
    }
    
    .card:hover .back {
        transform: perspective(500px) rotateY(360deg);
    }
    
    footer {
        position: absolute;
        width: 15%;
        right: 0;
        bottom: 0;
        margin: 10px 0 10px;
        
    }
    
    .card .front dl {
        display: block;
        margin: inherit;
        width: 100%;
        height: 100%;
       
    } 
    
    #sideBar {
        position: fixed;
        width: 13%;
        height: 100%;
        background-color: #6a9eda;
        color:#ffffff;
        left: 0px;
        margin-top: 3.5em;
        align-items: center;
        text-align: center;
    }
    select {
        color: black;
        text-align: center;
        width: 95%;
    }

    #root {
        width: calc(100% - 180px);
        margin: auto;
        padding-top: 4em ;
        display: flex;
        margin-bottom: 15%;
    }
    .totalChannels ul{
    
        list-style: none;
        text-align: initial;
        padding-left: 10px;
    }
}
